{% extends 'base.html' %}
{% load static %}


{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container mt-3">
   {% for note in notes %}
   <div class="alert alert-success" role="alert">
      <p>タイトル：<a href="{% url 'notes:detail' note.id %}">{{ note.title }}</a></p>
      <p>投稿者：{{note.user}}</p>
      <p>授業日：{{note.day}}</p>
      <img src="{{ note.file.url }}" width="193" height="130">
   </div>
   {% endfor %}
</div>
{% endblock content %}